@{
    ViewBag.Title = "Managers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var onManagerListLoad = function () {
        $.get('@Url.Action("ManagerList", "Manager")', null,
            function (data, textStatus, jqXHR) {
                $("#managerList").html(data);
            });
    }

    $(document).ready(function (events)
    {

        onManagerListLoad();

    });

</script>

<h1>Managers</h1>

<section id="managerListSection" style="background-color:darkgray">
   
        <div id="managerList" class="col-md-4"></div>
        <div class="col-md-8" >
            <div id="ManagersPieChartAll" style="background-color:darkgray"></div>
        </div>
   
</section>

<!-- Modal -->
<div class="modal fade" id="ManagerInfo" tabindex="-1" role="dialog" aria-labelledby="ManagerInfoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times; </button>
                <h4 class="modal-title" id="ManagerInfoLabel">Manager Details</h4>
            </div>
            <div class="modal-body" id="managerDetails">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <button type="button" class="btn btn-primary" onclick="onManagerFormSubmit()" id="ManagerInfoSubmit" form="managerForm">Save changes</button>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        $(document)
            .ready(
                function() {
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawManagersChart);
                });

        function drawManagersChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Manager');
            data.addColumn('number', 'Totall sum');
            var options = {
                title: 'The sum of sales for the whole period.',
                is3D: true,
                width: 430,
                height: 400,
            };
            var chart = new google.visualization.PieChart(document.getElementById('ManagersPieChartAll'));
            $.get('@Url.Action("GetChartData", "Manager")',
                null,
                function (dataJson, textStatus, jqXHR) {
                    data.addRows(dataJson);
                    chart.draw(data, options);
                });
            
        }
        $('#ManagerInfo').on('hide.bs.modal', function () { $("#managerDetails").html(null); });

</script>